<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Hier Favicon!-->
    <link rel="shortcut icon" href="https://static.igem.wiki/teams/4669/wiki/logo-und-schriftzuege/logo.svg" />
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} | Hamburg - iGEM 2023</title>

</head>
<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Header -->
  <header class="bg-hero py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">{{ self.title() }}</h1>
	        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>

 <!--Blaue Welle, sieht noch nicht gut aus -->
  <div>
          <img max-width="100%" src="https://static.igem.wiki/teams/4669/wiki/design-elements/footer-wave-1.svg" alt="-" >
  </div> 
    
  <!-- Button from bottom to top-->
    <div class="button-Up">
        <img id="button-Up" src="https://static.igem.wiki/teams/4669/wiki/logo-und-schriftzuege/logo.svg" alt="" onclick="backToTop()" class="button-Up" style="margin-right: 5px;" height="50"/>
    </div>
    <script>
        function backToTop() {
            document.body.scrollTop = document.documentElement.scrollTop = 0
        }
        window.onscroll = function () {
            let toTop = document.documentElement.scrollTop || document.body.scrollTop
            if (toTop != 0) {
                document.getElementById("button-Up").classList.remove("button-Up-off")
                document.getElementById("button-Up").classList.add("button-Up-show")
            }

            else {
                document.getElementById("button-Up").classList.remove("button-Up-show")
                document.getElementById("button-Up").classList.add("button-Up-off")
            }
        }
        document.getElementById("button-Up").addEventListener("mousemove", () => {
            document.getElementById("button-Up").style.opacity = 1
        })

    </script>
  
    <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
</body>
</html>
